<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Total Web Sample</title>
</head>
<body>
<div class="container">
    <div  class="container_news">
        뉴스<br>
    </div>
    <div class="container_oli">
        유가정보<br>
        휘발유 : 원<br>
        경유 : 원<br>
    </div>
    <div class="container_lotto">
         <h3>로또 번호</h3>
        <form action="lotto" method="post">
            {% csrf_token %}
            <input type="submit" value="보기">
        </form>
        {{ data }}
    </div>
    <div class="container_weather">
        <h3>날씨</h3>
        <form action="weather" method="post">
            {% csrf_token %}
            <input type="submit" value="보기">
        </form>
        {{ data }}
    </div>
    <div class="container_movie">
        영화
    </div>
    <div class="container_webtoon">
        웹툰
    </div>
    <div class="container_contents">
        한줄 게시판
    </div>
    <div class="container_chet">
        챗봇
    </div>
    <div class="container_member">
        <a href="/lotto" methods="GET" class="menu_link">
            <span class="menu_title">
                lotto
            </span>
        </a>
    </div>
</div>
</body>
</html>